@import '@styles/mixins.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(space-between, space-between, 0px);

    flex-direction: column;
    padding: 30px 20px;
    height: 95%;

    .total {
        @include flex_box_custom(space-between, center, 0px);

        p {
            color: $third_color;
            font-size: 14px;
        }
    }

    .boxBtn {
        @include flex_box_custom(space-between, space-between, 10px);
        flex-direction: column;

        .Btn {
            display: grid;
            height: 43px;
            width: 310px;
        }
    }

    .containerListProductCard {
        position: relative;

        .overlayLoading {
            @include flex_box_custom(center, center, 0px);

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    .boxEmpty {
        text-align: center;
        font-size: 14px;
        color: $four_color;
        margin-top: 30px;

        .boxBtnEmpty {
            margin: 20px auto;
            display: grid;
            height: 34px;
            width: 163px;
        }
    }

    .containerListItem {
        @include flex_box_custom(space-between, unset, 0px);

        flex-direction: column;
        flex-grow: 1;
    }
}

.isEmpty {
    justify-content: unset;
}
