@import '@styles/mixins.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(space-between, space-between, 0px);

    flex-direction: column;
    padding: 30px 20px;
    height: 95%;

    .total {
        @include flex_box_custom(space-between, center, 0px);

        p {
            color: $third_color;
            font-size: 14px;
        }
    }

    .boxBtn {
        @include flex_box_custom(space-between, space-between, 10px);
        flex-direction: column;

        .Btn {
            display: grid;
            height: 43px;
            width: 310px;
        }
    }
}
