@import '@styles/variable.module.scss';
@import '@styles/mixins.module.scss';

.container {
    padding-top: 83px;
}

.containerSteps {
    @include flex_box_custom(center, center, 0px);

    background-color: #fafafa;
    padding: 2.3vw 0;
    flex-direction: column;
    margin-bottom: 2.3vw;

    .steps {
        @include flex_box_custom(center, center, 30px);

        .line {
            min-width: 120px;
            height: 1px;
            background-color: #e1e1e1;
        }
    }

    .textNoti {
        font-size: 16px;
        color: $four_color;
        font-weight: 400;
        padding-top: 35px;
    }

    .stepper {
        @include flex_box_custom(center, center, 10px);
        text-transform: uppercase;

        .numberStep {
            @include flex_box_custom(center, center, 0px);

            background-color: #333;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            color: $white_color;
        }

        .textStep {
            color: $four_color;
            font-size: 21px;
            font-weight: 350;
        }

        .isDisabledNumber {
            background-color: transparent;
            border: 1px solid #e1e1e1;
            color: #888;
        }

        .isDisabledText {
            color: #9a9a9a;
        }
    }
}

.containerContent {
    @include flex_box_custom(space-between, flex-start, 30px);

    .cartContainer {
        width: 100%;
        padding: 1px;
        width: 700px;
        border-bottom: 1px solid #ddd;

        .cartTable {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;

            th,
            td {
                padding: 14px 10px 10px;
                vertical-align: top;
            }

            th,
            td:last-child {
                padding-right: 0;
                text-align: right;
            }

            th {
                font-size: 14px;
                color: $primary_color;
                font-weight: 350;
                text-transform: uppercase;
                text-align: center;
                padding: 14px 10px 10px 10px;
            }

            th:first-child {
                padding-left: 0;
                text-align: left;
            }

            th:last-child {
                padding-right: 0;
                text-align: right;
            }

            .product {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                padding-left: 0;

                img {
                    width: calc(100px - 0.71em);
                    object-fit: cover;
                    border-radius: 2px;
                }

                div {
                    flex-grow: 1;

                    p {
                        margin-top: 0;
                        color: $primary_color;
                        font-size: 16px;
                    }

                    span {
                        margin-top: 0;
                        color: $four_color;
                        font-size: 14px;
                        display: flex;

                        p {
                            font-size: 14px;
                            color: $secondary_color;
                        }
                    }
                }
            }

            .deleteItem {
                cursor: pointer;
            }

            .price {
                font-size: 14px;
                color: $secondary_color;
            }

            .sku {
                font-size: 14px;
                color: $third_color;
            }

            .boxSelect {
                select {
                    width: 100%;
                    height: 36px;
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 1px;
                    color: $secondary_color;
                }
            }
        }
    }

    .containerRight {
        flex-grow: 1;
    }

    .containerSummary {
        padding: 25px;
        border: 2px solid #333;
        width: 450px;

        .title {
            font-size: 16px;
            padding-bottom: 15px;
            border-bottom: 1px solid #e1e1e1;
        }
        .boxTotal {
            @include flex_box_custom(space-between, center, 0px);

            margin: 25px 0;
        }

        .subTotal {
            color: $third_color;

            .priceSub {
                color: $secondary_color;
                font-weight: 300;
                font-size: 14px;
            }
        }

        .total {
            color: $four_color;
            font-size: 20px;
        }

        .boxBtn {
            display: grid;
            height: 42px;
            padding-bottom: 10px;
        }
    }

    .containerMethod {
        padding: 25px 0;
        position: relative;
        border: 1px solid #e1e1e1;
        margin-top: 40px;
        width: 100%;

        .titleMethod {
            position: absolute;
            top: -8px;
            transform: translateX(-50%);
            left: 50%;
            background-color: #fff;
            padding: 0 10px;
            text-transform: uppercase;
            font-size: 14px;

            span {
                color: #2e7d32;
            }
        }

        .boxImgMethod {
            @include flex_box_custom(center, center, 20px);

            .ImgMethod {
                border: 1px solid #e1e1e1;
                display: inline-block;
                width: 50px;
                height: 34px;
                border-radius: 5px;
            }
        }
    }

    .textSecure {
        @include flex_box_custom(center, center, 8px);

        margin-top: 10px;

        div {
            font-size: 14px;
            color: $third_color;
        }

        p {
            color: $four_color;
            font-size: 14px;
        }
    }

    .boxFooter {
        @include flex_box_custom(space-between, center, 0px);
        padding-left: 15px;
        margin-top: 15px;

        .boxCoupon {
            @include flex_box_custom(flex-start, flex-start, 0px);

            input {
                border: 1px solid #e1e1e1;
                border-radius: 1px;
                padding: 8px 15px;
                width: 300px;
                outline: none;
            }

            button {
                height: 36px;
                width: 36px;
                border-radius: 0px;
                padding: 0px 10px;
                font-size: 10px;
            }
        }

        .boxBtnDelete {
            button {
                width: 215px;
                height: 36px;
                font-size: 12px;
                padding: 0px 25px;
            }
        }
    }
}
